.abo {
  height: 100vh;
  display: flex;
  align-items: center;
}

.abo-left {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100%;
  margin-left: 20px;
}

.abo-right {
  flex: 1;
  margin-right: 40px;
}

.abo-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgb(99, 96, 96);
}

.abo-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.abo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.abo-title {
  font-weight: 600;
  font-size: 40px;
}

.abo-sub {
  margin: 20px 0px;
}

.abo-desc {
  font-weight: 300;
}

.quote {
  margin: 30px 50px 0px 50px;
}

.quoter {
  margin-left: 400px;
}

/* MEDIA QUERY */
@media (min-width: 320px) and (max-width: 430px) {
  /* * {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    max-width: 850px;
  } */

  .abo {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin-left: 0;
  }

  .abo-left {
    margin-top: -3vh;
    position: relative;
    margin-right: 6vh;
  }

  .abo-card {
    height: 30vh;
    width: 60%;
    border-radius: 15px;
    position: relative;
  }

  .abo-card .bg {
    /* top: 10px; */
    position: absolute;
  }

  .fg {
    margin-top: -11vh;
    margin-left: 30px;
  }

  .abo-right {
    width: 80%;
    margin: -18vh 4vh 0vh 4vh;
  }
  .abo-desc {
    font-size: 15px;
    text-align: justify;
  }

  .abo-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: -2.5vh;
  }

  .abo-sub {
    margin-bottom: -0.1vh;
    font-size: 18px;
  }

  .quote {
    margin: 5px 10px 0px 15px;
    font-size: 12px;
  }

  .quoter {
    margin-left: 200px;
    font-size: 12px;
  }
}
