.prli {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.prli-text {
  width: 65%;
}

.prli-title {
  font-size: 50px;
  font-weight: 600;
}

.myself {
  width: 25%;
  box-shadow: 2px 2px 2px grey;
  border-radius: 100px;
}

.prli-desc {
  margin: 20px 0px;
}

.pr-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.hr {
  margin-right: 105vh;
}

@media (min-width: 320px) and (max-width: 430px) {
  .prli {
    display: grid;
  }
}
