.tog {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 0;
}

.bottom-container {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: grey;
}

.footer-link {
  margin: 30px;
  text-decoration: none;
  color: white;
}

.footer-note {
  color: #eaf6f6;
  margin-bottom: 10px;
  margin-top: 25px;
}